{% extends 'main/main.html' %}

{% block content %}

    <form
        class="grid grid-cols-3 auto-rows-[250px] text-orange-700 bg-lime-600"
        method="post"
        action="">
        {% csrf_token %}
        <div>
            <p class="m-2 text-white decoration-solid text-xl">Hello
                {{ user.username }}</p>
            <p>
                <a href="{% url 'main:login'%}" class="m-2 text-indigo-600">Logout</a>
            </p>
        </div>
        <div class="bg-slate-400 flex items-center justify-center">
            <p>
                <b>Number of traffic</b><br>
                <input
                    type="text"
                    name="from_top"
                    inputmode="numeric"
                    required="required"
                    size="15"
                    value="{{ form_traffic.from_top }}">
            </p>
        </div>
        <div></div>
        <div class="bg-slate-400 flex items-center justify-center">
            <p>
                <b>Number of traffic</b><br>
                <input
                    type="text"
                    name="from_left"
                    inputmode="numeric"
                    required="required"
                    size="15"
                    value="{{ form_traffic.from_left }}"/>
            </p>
        </div>
        <div class="bg-slate-400 flex items-center justify-center grid grid-cols-2">
            <div
                class="text-xl m-auto font-bold text-green-700 rounded-full bg-slate-400 flex items-center justify-center border-8 border-green-700 h-20 w-20">
                &#129091;
                {{ time_tp_bm }}
            </div>
            <div
                class="text-xl m-auto font-bold text-red-700 rounded-full bg-slate-400 flex items-center justify-center border-8 border-red-700 h-20 w-20">
                &#129088;
                {{ time_lf_rt }}
            </div>
            <div
                class="text-xl m-auto font-bold text-red-700 rounded-full bg-slate-400 flex items-center justify-center border-8 border-red-700 h-20 w-20">
                &#129090;
                {{ time_lf_rt }}</div>
            <div
                class="text-xl m-auto font-bold text-green-700 rounded-full bg-slate-400 flex items-center justify-center border-8 border-green-700 h-20 w-20">
                &#129089;
                {{ time_tp_bm }}</div>
        </div>
        <div class="bg-slate-400 flex items-center justify-center">
            <p>
                <b>Number of traffic</b><br>
                <input
                    type="text"
                    formmethod="post"
                    name="from_right"
                    inputmode="numeric"
                    required="required"
                    size="15"
                    value="{{ form_traffic.from_right }}">
            </p>
        </div>
        <div></div>
        <div class="bg-slate-400 flex items-center justify-center">
            <p>
                <b>Number of traffic</b><br>
                <input
                    type="text"
                    name="from_bottom"
                    inputmode="numeric"
                    required="required"
                    size="15"
                    value="{{ form_traffic.from_bottom }}">
            </p>
        </div>
        <div>
            <input
                class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                type="submit"
                value='Calculate'
                name='calculate'/>
        </div>
    </form>
{% endblock %}
