<!DOCTYPE html>
<html lang="en">

    {% load static %}

    <head>
        <meta charset="UTF-8">
        <title>ALTO</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
        <script src="https://cdn.tailwindcss.com"></script>

    </head>

    <body class="bg-black">
        <header class="bg-black text-slate-200 ">
            <a class="flex justify-center" href="{% url 'main:index' %}"><img alt="LOGO" src="{% static 'main/images/logo.png' %}"></a>
        </header>
        <hr>
        {% block content %}{% endblock %}
        <hr>
        <footer>
            <p class="flex text-white justify-center">2023</p>
        </footer>
    </body>

</html>
