{% extends 'main/main.html' %}

{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900">
        <div
            class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div
                class="w-full bg-slate-400 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Add new traffic
                    </h1>
                    <form class="space-y-2 md:space-y-4" method="POST" action="#">
                        {% csrf_token %}
                        <div>
                            <label
                                for="from_top"
                                class=" w-1/2 mb-1 text-sm font-medium text-gray-900 dark:text-white">From top</label>
                            {{ form_traffic.from_top }}
                        </div>
                        <div>
                            <label
                                for="from_right"
                                class=" mb-1 text-sm font-medium text-gray-900 dark:text-white">From right</label>
                            {{ form_traffic.from_right }}
                        </div>
                        <div>
                            <label
                                for="from_bottom"
                                class=" mb-1 text-sm font-medium text-gray-900 dark:text-white">From bottom</label>
                            {{ form_traffic.from_bottom }}
                        </div>
                        <div>
                            <label
                                for="from_left"
                                class=" mb-1 text-sm font-medium text-gray-900 dark:text-white">From left</label>
                            {{ form_traffic.from_left }}
                        </div>
                        <p class="bg-green-300"></p>{{ form.errors }}</p>
                    <button
                        type="submit"
                        class="w-full py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Save</button>
                    
                    <p class="bg-red-300">{{ form_traffic.errors }}</p>

                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Change your mind?
                        <a
                            href="{% url 'main:index' %}"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500">Back to main page</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
