{% extends 'main/main.html' %}

{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900">
        <div
            class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div
                class="w-full bg-slate-400 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Create an account
                    </h1>
                    <form class="space-y-2 md:space-y-4" method="POST" action="" anctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="columns-2">
                        <div>
                            <label
                                for="username"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your name</label>
                            {{ form.username }}
                        </div>
                        <div>
                            <label
                                for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                            {{ form.email }}
                        </div>
                        <div>
                            <label
                                for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            {{ form.password1 }}
                        </div>
                        <div class="break-after-column">
                            <label
                                for="confirm-password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
                            {{ form.password2 }}
                        </div>
                        <!-- <div class="flex justify-center break-after-column">
                            <div class="mb-3 w-96">
                                <label for="formFile" class="form-label inline-block mb-2 text-gray-700">Your avatar</label>
                              {{ image_form.image }}
                            </div>
                          </div> -->


                        <p>Traffic parameters</p>

                        <div>
                            <label
                                for="from_top"
                                class=" w-1/2 mb-1 text-sm font-medium text-gray-900 dark:text-white">From top</label>
                            {{ form_traffic.from_top }}
                        </div>
                        <div>
                            <label
                                for="from_right"
                                class=" mb-1 text-sm font-medium text-gray-900 dark:text-white">From right</label>
                            {{ form_traffic.from_right }}
                        </div>
                        <div>
                            <label
                                for="from_bottom"
                                class=" mb-1 text-sm font-medium text-gray-900 dark:text-white">From bottom</label>
                            {{ form_traffic.from_bottom }}
                        </div>
                        <div>
                            <label
                                for="from_left"
                                class=" mb-1 text-sm font-medium text-gray-900 dark:text-white">From left</label>
                            {{ form_traffic.from_left }}
                        </div>
                    </div>
                        <p class="bg-green-300"></p>{{ form.errors }}</p>
                    <button
                        type="submit"
                        class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account?
                        <a
                            href="{% url 'main:login' %}"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
